node_modules/
.env
dist/

# Python virtual environments
.venv/
venv/
env/
.venv_new/
.venv
# Python cache files
__pycache__/
*.pyc
*.pyo

# Model large binary files (too large for GitHub)
**/model.safetensors

# Local environment configs
.vercel
.env.local
.env.production
.vscode/
*.code-workspace
