node_modules/
.env

# Python virtual environments
.venv/
venv/
env/

# Python cache files
__pycache__/
*.pyc
*.pyo

# Model large binary files (too large for GitHub)
**/model.safetensors

# Local environment configs
.vercel
